*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;/*for corners which will be round by 10px*/
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px; /* height and width will be same because for square button*/
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;/*margin for space between all the button*/
}

form .display{
    display: flex;
    justify-content: flex-end;/* flex-end will help for keeping content in right side*/
    margin: 20px 0;/*20px from top and bottom and left-right will be 0*/
}

form .display input{
    text-align: right;
    flex: 1;/* for full width*/
    font-size: 45px;
    box-shadow: none;/* where we display the result there will be no shadow*/

}

form input.equal{
    width: 154px;
}


form input.operator{
    color: #33ffd8;

}